.join {
    color: hsl(198, 76%, 52%);
}

body {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.help-frame {
    margin-top: 20px;
    margin-left: 275px;
    gap: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.help-frame img {
    margin-right: 24px;
}

.p-legal-notice {
    padding-top: 16px ;
}

.comment-section-input {
    overflow: scroll;
    border: 2px solid black;
    height: 80px;
    padding: 7px 5px;
}

.what-is-join-section {
    gap: 16px;
}

.info-section {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 275px;

}

.how-to-use-it-section {
    display: flex;
    flex-direction: column;
}

.step-by-step-guide-section {
    display: flex;
    gap: 35px;
}

.help-last-section {
    gap: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.help-bottom-line {
    padding-bottom: 32px;

}

.last-section {
    gap: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding-bottom: 32px;
}