* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.logo-section {
  position: absolute;
  top: 36px;
  left: 32px;
  z-index: 999;
}

.logo-image {
  width: 100.03px;
  height: 121.97px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(246, 247, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 1s ease-in-out;
}

#animated-logo {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400.12px;
  height: 487.88px;
  transform: translate(-50%, -50%) scale(1);
  z-index: 9999;
  transition: transform 0.8s ease, top 0.8s ease, left 0.8s ease;
}

#animated-logo.logo-finished {
  position: fixed;
  top: -147px;
  left: -118px;
  transform: scale(0.25);
}

#static-logo {
  display: none;
}

#message-box {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  border-radius: 8px;
  background: rgb(42, 54, 71);
  color: white;
  font-size: clamp(13px, 2.5vw, 20px);
  font-weight: 700;
  line-height: 50px;
  padding: 0 15px;
  text-align: center;
  display: none;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.d-none {
  display: none;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(246, 247, 248);
}

.log-in-container {
  position: relative;
  max-width: 500px;
  width: 90%;
  border-radius: 30px;
  padding: 48px 88px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.039);
}

.login-container-headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.login-headline {
  font-weight: 700;
  font-size: clamp(40px, 4vw, 61px);
}

.blue-line {
  width: 140px;
}

.log-in-form {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-container {
  position: relative;
  width: 100%;
}

input {
  width: 100%;
  height: 45px;
  padding: 12px 38px 12px 21px;
  border-radius: 10px;
  border: 1px solid;
  opacity: 0.5;
  font-size: 18px;
}

input:focus-visible {
  outline: none;
  border: 2px solid rgb(41, 171, 226);
  opacity: 1;
}

.input-icon,
.input-icon-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 24px;
}

.input-icon-password {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.toggle-password {
  cursor: pointer;
  pointer-events: auto;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 4px;
  margin-left: 4px;
  height: 18px;
  visibility: hidden;
}

.error-message.visible {
  visibility: visible;
}

.submit-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 32px;
  padding-top: 40px;
}

.log-in-button,
.guest-log-in-button,
.register-button {
  height: 45px;
  border-radius: 8px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 0 20px;
}

.log-in-button {
  background: rgb(42, 54, 71);
  color: white;
}

.log-in-button:hover {
  background-color: rgb(41, 171, 226);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.guest-log-in-button {
  border: 1px solid black;
  background-color: white;
}

.guest-log-in-button:hover {
  border-color: rgb(41, 171, 226);
  color: rgb(41, 171, 226);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.register-button {
  background: rgb(42, 54, 71);
  color: white;
}

.register-button:hover {
  background-color: rgb(41, 171, 226);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.register-container {
  position: absolute;
  top: 40px;
  right: 50px;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  z-index: 10;
}

footer {
  justify-content: center;
  display: flex;
  position: absolute;
  bottom: 50px;
  width: 100%;
  gap: 16px;
  opacity: 0.5;
}

.footer-link {
  color: #a8a8a8;
  display: inline-block;
  transition: transform 0.2s ease, color 0.2s ease;
}

.footer-link:hover {
  transform: scale(1.1);
  color: hsl(198, 76%, 52%);
}

.register-container-mobile {
  display: none;
  position: absolute;
  bottom: 120px;
  align-items: center;
  gap: 16px;
  justify-content: center;
  width: 100%;
}