@media(max-width: 1300px) {}

@media(max-width: 1232px) {}

@media(max-width: 1040px) {
    .help-frame {
        margin-top: 16px;
        margin-left: 96px;
    }

    .arrow-left-section img {
        top: 170px;
        margin-right: 96px;
    }

    .info-section {
        margin-left: 96px;
        margin-right: 96px;
        margin-bottom: 80px;
    }
    
    h1 {
        font-size: 48px;
    }

}

@media(max-width: 800px) {
    .help-frame {
        margin-left: 20px;
    }

    .arrow-left-section img {
        top: 110px;
        margin-right: 20px;
    }

    .info-section {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 16px;
    }
}

@media(max-width: 500px) {
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 20px;
    }

    .arrow-left-section img {
        top: 105px;
    }

    .info-section {
        margin-top: 0;
    }

    p {
        font-size: 14px;
    }

    .step-by-step-guide-section {
        gap: 15px;
    }


}