.header {
  display: flex;
  position: fixed;
  height: 110px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: hsl(220, 40%, 13%);

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 37px 100px;

    img {
      height: 50px;
      width: auto;
    }

    .header-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 80px;

      .links {
        display: flex;
        align-items: center;
        gap: 30px;

        span {
          color: hsl(0, 0%, 100%);
          font-size: 23px;
          line-height: 120%;
          text-decoration: none;
          font-weight: 100;
          transition: color 0.3s;

          &:hover {
            color: hsl(95, 80%, 51%);
          }
        }
      }

      .translate {
        display: flex;
        align-items: center;
        gap: 10px;

        button {
          cursor: pointer;
          border: 1px solid hsl(95, 80%, 51%);
          background: none;
          color: hsl(0, 0%, 100%);
          font-size: 17px;
          line-height: 120%;
          font-weight: 100;
          padding: 5px 8px;
          border-radius: 10px;
          transition: all 0.3s ease;

          &:hover {
            background-color: #9747ff;
            border: 1px solid hsl(266, 100%, 64%);
            color: hsl(0, 0%, 100%);
          }

          &.active {
            background-color: hsl(95, 80%, 51%);
            border: 1px solid hsl(95, 80%, 51%);
            color: hsl(0, 0%, 100%);
            font-weight: 800;
          }
        }
      }
    }
  }
}
