<div class="header">
  <div class="header-content">
    <a href=""><img src="assets/imgs/remaining-icons/logo.svg" alt="logo" /></a>

    <div class="header-right">
      <div class="links">
        <span (click)="navigateToSection('about_me')">About me</span>
        <span (click)="navigateToSection('skills')">Skills</span>
        <span (click)="navigateToSection('portfolio')">Portfolio</span>
      </div>

      <div class="translate">
        <button
          [class.active]="selectedLang === 'DE'"
          (click)="setLanguage('DE')"
        >
          DE
        </button>

        <button
          [class.active]="selectedLang === 'EN'"
          (click)="setLanguage('EN')"
        >
          EN
        </button>
      </div>
    </div>
  </div>
</div>
