<div class="header">
  <div class="header-content limited-width">
    <a href="">
      <img src="assets/imgs/remaining-icons/logo.svg" alt="logo" />
    </a>

    <div class="header-right">
      <div class="links">
        <span (click)="navigateToSection('about_me')">
          {{ translation.t("header.about_me") }}
        </span>
        <span (click)="navigateToSection('skills')">
          {{ translation.t("header.skills") }}
        </span>
        <span (click)="navigateToSection('portfolio')">
          {{ translation.t("header.portfolio") }}
        </span>
      </div>

      <div class="translate">
        <button
          [class.active]="selectedLang === 'DE'"
          (click)="setLanguage('DE')"
        >
          DE
        </button>
        <button
          [class.active]="selectedLang === 'EN'"
          (click)="setLanguage('EN')"
        >
          EN
        </button>
      </div>
    </div>
  </div>
</div>

<div class="header-mobile">
  <div class="header-content">
    <a href="">
      <img src="assets/imgs/remaining-icons/logo.svg" alt="logo" />
    </a>

    <div class="header-right">
      <img
        src="assets/imgs/remaining-icons/burger-menu.svg"
        alt="menu"
        (click)="toggleMenu()"
      />
    </div>
  </div>
</div>

<div class="mobile-overlay" *ngIf="isMenuOpen">
  <div class="overlay-content">
    <span class="menu-link" (click)="onOverlayNavigate('about_me')">
      {{ translation.t("header.about_me") }}
    </span>
    <span class="menu-link" (click)="onOverlayNavigate('skills')">
      {{ translation.t("header.skills") }}
    </span>
    <span class="menu-link" (click)="onOverlayNavigate('portfolio')">
      {{ translation.t("header.portfolio") }}
    </span>
    <span class="menu-link" (click)="onOverlayNavigate('contact')">
      {{ translation.t("header.contact") }}
    </span>

    <div class="overlay-translate">
      <span [class.active]="selectedLang === 'DE'" (click)="setLanguage('DE')">
        DE
      </span> 
      <span>/</span>
      <span [class.active]="selectedLang === 'EN'" (click)="setLanguage('EN')">
        EN
      </span>
    </div>
  </div>
</div>