<div class="footer">
  <div class="logo-side">
    <a href="">
      <img class="logo" src="assets/imgs/remaining-icons/logo.svg" alt="" />
    </a>
    <span class="legal-notice">Legal Notice</span>
  </div>

  <div class="copy-right">©Rahaf Jarrous 2025</div>

  <div class="social-media-icons">
    <img src="assets/imgs/socialmedia/github-button.svg" alt="" />
    <img src="assets/imgs/socialmedia/email-button.svg" alt="" />
    <img src="assets/imgs/socialmedia/linkedin-button.svg" alt="" />
  </div>
</div>
