<div id="about_me" class="about-me-container">
  <div class="about-me-left-side padding">
    <h1>{{ translation.t('about_me.title') }}</h1>

    <div class="about-me-sections">
      <section>
        <p>{{ translation.t('about_me.paragraph1') }}</p>
      </section>
      <section class="about-me-info">
        <img src="/assets/imgs/about-me-icons/location.svg" />
        <p>{{ translation.t('about_me.paragraph2') }}</p>
      </section>
      <section class="about-me-info">
        <img src="/assets/imgs/about-me-icons/bulb.svg" />
        <p>{{ translation.t('about_me.paragraph3') }}</p>
      </section>
      <section class="about-me-info">
        <img src="/assets/imgs/about-me-icons/puzzle.svg" />
        <p>{{ translation.t('about_me.paragraph4') }}</p>
      </section>
    </div>
  </div>
  <div class="about-me-right-side">
    <img class="circle" src="/assets/imgs/lines/green-circle.svg" />
    <img class="circle-line" src="/assets/imgs/lines/circle-line.svg" />
  </div>
</div>