.about-me-container {
  display: flex;
  justify-content: space-between;

  .about-me-left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;

    h1 {
      margin-bottom: -10px;
    }

    .about-me-sections {
      display: flex;
      flex-direction: column;
      gap: 5px;

      section {
        display: flex;
        max-width: 450px;
        gap: 20px;

        img {
          cursor: pointer;
          transition: transform 0.3s ease;
        }

        img:hover {
          transform: scale(1.4);
        }
      }
    }
  }

  .about-me-right-side {
    display: flex;
    position: relative;
    z-index: 1;

    .circle {
      width: 400px;
    }

    .circle-line {
      align-self: center;
      height: 200px;
      width: 200px;
    }
  }

  .shadow-1 {
    width: 240px;
    margin-top: -130px;
    height: auto;
    position: absolute;
    z-index: 0;
    right: 0;
  }
}
