.about-me-container {
  display: flex;
  justify-content: space-between;

  .about-me-left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;

    h1 {
      margin-bottom: -10px;
    }

    .about-me-sections {
      display: flex;
      flex-direction: column;
      gap: 5px;

      section {
        display: flex;
        max-width: 450px;
        gap: 20px;

        img {
          cursor: pointer;
          transition: transform 0.3s ease;
        }

        img:hover {
          transform: scale(1.4);
        }
      }
    }
  }

  .about-me-right-side {
    position: relative;
    width: 400px;
    height: 400px;
  }

  .circle-wrapper {
    position: absolute;
    top: 100%;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%);
    z-index: 3;
  }

  .me2 {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 10%;
    z-index: 1;
  }

  .circle {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
  }

  .circle-line {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    width: 200px;
    z-index: 3;
    pointer-events: none;
  }

  .shadow-1 {
    width: 240px;
    margin-top: -130px;
    height: auto;
    position: absolute;
    z-index: 0;
    right: 0;
  }
}

@media (max-width: 1600px) {
  .about-me-left-side {
    width: 420px;
  }
}

@media (max-width: 1250px) {
  .about-me-container {
    .about-me-left-side {
      p {
        font-size: 14px;
      }

      h1 {
        font-size: 50px;
      }
    }

    .about-me-right-side {
      .circle-wrapper {
        width: 350px;
        height: 350px;
        transform: translate(0%, -50%);
        top: 80%;
      }

      .circle-line {
        width: 250px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .about-me-container {
    flex-direction: column;
    align-items: center;
    gap: 50px;

    h1 {
      margin-top: 110px;
    }

    .about-me-right-side {
      display: none;
      .circle {
        display: none;
      }

      .circle-line {
        display: none;
      }

      .me2{
        display: none;
      }
    }
  }
}

@media (max-width: 500px) {
  .about-me-container {
    .about-me-left-side {
      width: 300px;

      h1 {
        font-size: 40px;
      }
    }
  }
}
