<div class="about-me-container">
  <div class="about-me-left-side padding">
    <h1>About me</h1>

    <div class="about-me-sections">
      <section>
        <p>
          I love turning ideas into real projects. Coding gives me the same
          creative joy as cooking — experimenting, improving, and shaping things
          until they’re just right.
        </p>
      </section>
      <section class="about-me-info">
        <img src="/assets/imgs/about-me-icons/location.svg" />
        <p>
          I’m based in Regensburg and fully open to remote or hybrid
          work—flexibility helps me do my best work.
        </p>
      </section>
      <section class="about-me-info">
        <img src="/assets/imgs/about-me-icons/bulb.svg" />
        <p>
          I enjoy exploring new technologies and building up my skill set step
          by step—continuous learning keeps me motivated.
        </p>
      </section>
      <section class="about-me-info">
        <img src="/assets/imgs/about-me-icons/puzzle.svg" />
        <p>
          I learn something from every mistake I make. Think of it as my
          built-in upgrade system—I get a little better with each version.
        </p>
      </section>
    </div>
  </div>
  <div class="about-me-right-side">
    <img class="circle" src="/assets/imgs/lines/green-circle.svg" />
    <img class="circle-line" src="/assets/imgs/lines/circle-line.svg" />
  </div>
</div>
