<div class="project" [class.reverse]="reverse">
  <img [src]="project.image" alt="Project image" />

  <div class="project-information">
    <h2>{{ project.title }}</h2>
    <span>{{ project.skills }}</span>
    <p>{{ project.description }}</p>

    <div class="buttons">
      <a [href]="project.liveLink" target="_blank" rel="noopener noreferrer">
        <button>Live test</button>
      </a>

      <a [href]="project.githubLink" target="_blank" rel="noopener noreferrer">
        <button>GitHub</button>
      </a>
    </div>
  </div>
</div>

