.board-add-task-modal {
    margin: 24px;
    background-color: white;
    padding: 40px;
    border-radius: 30px;
    flex: 1;
    max-width: 800px;
    max-height: 680px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    transform: translateX(100vw);
    opacity: 0;
    transition: transform 0.4s cubic-bezier(.45, .05, .55, 1), opacity 0.4s cubic-bezier(.45, .05, .55, 1);
}

.board-add-task-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2a3647;
    border-radius: 10px;
    padding: 8px 16px 8px 16px;
    gap: 4px;
    border: none;
    color: #ffffff;
    font-size: 24px;
}

.board-add-task-btn img {
    width: 30px;
    height: 30px;
}

.board-add-task-btn:hover {
    background-color: #29abe2;
    cursor: pointer;
}

.board-add-task-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.board-add-task-modal .form-cols {
    display: flex;
    gap: 48px;
}

.board-add-task-modal .col-left>*,
.board-add-task-modal .col-right>* {
    margin-bottom: 16px;
    margin-top: 8px;
}

.board-add-task-modal .col-left>*:last-child,
.board-add-task-modal .col-right>*:last-child {
    margin-bottom: 0;
}