#overlay_mobile {
  height: 100vh;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;

  background-color: transparent;
  transition: background-color 0.3s ease;
}

#overlay_mobile.active {
  background-color: hsla(215, 33%, 13%, 0.294);
}

.my-contact-information-section-mobile {
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  top: 80px;
  bottom: 80px;
  width: 100%;
  background-color: hsl(210, 13%, 97%);
  flex-direction: column;
  align-items: center;
}

.my-contact-information-section-mobile-content {
  display: none;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  gap: 50px;
  margin-top: 100px;
}

.my-contact-info-mobile-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-contact-info-mobile-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 100px;
}

.header-div-mobile {
  display: none;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  width: auto;
  justify-content: center;
  position: absolute;
  left: 20px;
  top: 80px;
}

.arrow-mobile {
  right: 20px;
  top: 80px;
  display: none;
  position: absolute;
}

.arrow-left-mobile {
  margin-bottom: 35px;
}