@media(max-width: 1232px) {
    .summary-container {
        margin-left: 280px;
    }

    h1 {
        font-size: 40px;
    }

    .summary-subtitle {
        font-size: 24px;
    }

    .welcome-message h2 {
        font-size: 24px;
    }

    .welcome-message p {
        font-size: 26px;
    }

    .card-container {
        gap: 30px;
    }

    .card-top {
        max-width: 220px;
    }

    .card-center {
        max-width: 500px;
    }

    .card-bottom {
        max-width: 120px;
    }

}

@media(max-width: 1040px) {
    .summary-container {
        margin-left: 0px;
    }

    .mobile-welcome-overlay {
        position: absolute;
        top: 104px;
        left: 0;
        right: 0;
        bottom: 80px;
        background-color: #f5f5f5;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .mobile-welcome-message-centered {
        text-align: center;
    }

    .mobile-welcome-message-centered h2 {
        font-size: 30px;
        font-weight: 500;
        color: rgb(42, 54, 71);
        margin-bottom: 12px;
    }

    .mobile-welcome-message-centered p {
        font-size: 32px;
        font-weight: 700;
        color: rgb(41, 171, 226);
    }

    .d_none {
        display: none;
    }

    .card-container-right {
        display: none;
    }

    .summary-header {
        justify-content: center;
    }

    .card-container {
        justify-content: center;
    }

    .summary-header-vector {
        max-height: 45px;
        min-width: 4px;
    }

}

@media(max-width: 800px) {
    .summary-container {
        margin-left: 0px;
    }

    h1 {
        font-size: 30px;
    }

    .summary-subtitle {
        font-size: 18px;
    }

    .card-top {
        max-width: 180px;
    }

    .card-center {
        max-width: 405px;
    }

    .card-bottom {
        max-width: 95px;
    }

    .summary-to-do-icon {
        height: 50px;
        width: 50px;
    }

    .summary-done-icon {
        height: 50px;
        width: 50px;
    }

    .priority-background {
        height: 50px;
        width: 50px;
    }

    .priority-img {
        height: 25px;
        width: 25px;
    }

    .summary-card-number {
        font-size: 40px;
    }

    .summary-card-text {
        font-size: 16px;
    }
}

@media(max-width: 500px) {
    .summary-container {
        margin-left: 0px;
    }

    h1 {
        font-size: 35px;
    }

    .summary-subtitle {
        font-size: 18px;
    }

    .card-top {
        max-width: 100px;
        height: 50px;
        border-radius: 20px;
    }

    .card-center {
        max-width: 260px;
        height: 60px;
        gap: 5px;
        border-radius: 20px;
    }

    .card-center-vector {
        max-height: 65px;
        min-width: 1.5px;
    }

    .card-bottom {
        max-width: 55px;
        height: 60px;
        border-radius: 20px;
    }

    .summary-header-vector {
        display: none;
    }

    .summary-header-vector-mobile {
        display: flex;
    }

    .summary-header-container {
        display: flex;
        justify-content: center;
        margin-left: -100px;
    }

    .summary-header {
        gap: 14px;
        flex-direction: column;
        align-items: start;
        padding: 20px;
    }

    .summary-to-do-icon {
        height: 30px;
        width: 30px;
    }

    .summary-done-icon {
        height: 30px;
        width: 30px;
    }

    .priority-background {
        height: 30px;
        width: 30px;
    }

    .priority-img {
        height: 15px;
        width: 15px;
    }

    .summary-card-number {
        font-size: 30px;
    }

    .summary-card-text {
        font-size: 14px;
    }

    .summary-date {
        font-size: 13px;
    }

    .card-center-text {
        gap: 10px;
    }

    .summary-date-subline {
        font-size: 12px;
    }

    .card-box-bottom {
        gap: 8px;
    }
}