<div>
  <div id="hero" class="hero-container">
    <img
      class="photo-shadow"
      src="assets/imgs/shadows/photo-shadow.svg"
      alt=""
    />

    <div class="hero-left-side">
      <div class="name-area">
        <span>I am</span>
        <div class="name-title">
          <p>Rahaf Jarrous</p>
          <div class="frontend-developer">FRONTEND DEVELOPER</div>
        </div>
      </div>
      <button (click)="scroll.scrollTo('contact')">Let's Talk!</button>
    </div>
  </div>
  <div class="hero-footer">
    <div class="hero-footer-icons">
      <img src="assets/imgs/lines/hero-line.svg" alt="" />
      <img class="social-media-icon" src="assets/imgs/socialmedia/email-button.svg" alt="" />
      <img class="social-media-icon" src="assets/imgs/socialmedia/github-button.svg" alt="" />
      <img class="social-media-icon" src="assets/imgs/socialmedia/linkedin-button.svg" alt="" />
      <a (click)="scroll.scrollTo('contact')">jarrousrahaf&#64;gmail.com</a>
    </div>
    <div class="scroll-down">
      <img (click)="scroll.scrollTo('footer')" src="assets/imgs/remaining-icons/scroll-down.svg" alt="" />
    </div>
  </div>
</div>
