

.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.photo-shadow {
  width: 500px;
  height: auto;
  z-index: 1;
}

.hero-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding-left: 0px;
  padding-right: 80px;

  a{
    color: hsl(0, 0%, 100%);
  }

  .hero-footer-icons {
    display: flex;
    gap: 20px;

    .social-media-icon {
      width: 30px;
      height: 30px;
      cursor: pointer;
      transition: transform 0.3s ease;
    }

    .social-media-icon:hover {
      transform: scale(1.4);
    }
  }
}

.hero-left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .name-area {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      font-size: 28px;
      color: hsl(0, 0%, 100%);
      margin-left: 10px;
      rotate: -90deg;
    }

    .name-title {
      display: flex;
      flex-direction: column;
      font-size: 24px;
      font-weight: 900;

      p {
        color: hsl(0, 0%, 100%);
        margin: 0;
      }
    }
  }
}
