.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
}

.photo-shadow {
  width: 700px;
  height: auto;
  position: relative;
  z-index: 0;
  filter: blur(10px);
  margin-top: -50px;
}

.hero-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  padding-left: 0px;
  padding-right: 80px;
  margin-top: -30px;

  a {
    color: hsl(0, 0%, 100%);
  }

  .scroll-down {
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &:hover {
      transform: translateY(-1px) scale(1.1);
    }
  }

  .hero-footer-icons {
    display: flex;
    gap: 20px;

    .social-media-icon {
      width: 30px;
      height: 30px;
      cursor: pointer;
      transition: transform 0.3s ease;
    }

    .social-media-icon:hover {
      transform: scale(1.4);
    }
  }
}

.hero-right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 1;
  margin-bottom: 280px;
  margin-right: 200px;

  .name-area {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      font-size: 55px;
      color: hsl(0, 0%, 100%);
      rotate: -90deg;
    }

    .name-title {
      display: flex;
      flex-direction: column;
      font-size: 75px;
      font-weight: 900;

      p {
        color: hsl(0, 0%, 100%);
        font-family: "Poppins-Bold";
        margin: 0;
      }

      .frontend-developer {
        font-size: 47px;
        color: hsl(266, 100%, 64%);
        font-family: "Poppins";
        font-weight: 400;
      }
    }
  }

  button {
    margin-left: 80px;
  }
}

.vector {
  position: absolute;
  z-index: 0;
  width: 100vw;
  margin-top: 100px;
}
