@font-face {
    font-family: Barriecito-Regular;
    src: url(./fonts/Barriecito-Regular.ttf);
}

@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

html {
    font-family: Barriecito-Regular;
}

h1 {
    font-size: 46px;
}

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/5_background/gameBackground.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(1px);
    z-index: -1;
}

.background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.227);
}

canvas {
    background-color: black;
    border: 2px solid hsla(0, 0%, 0%, 0.218);
    border-radius: 8px;
    z-index: 1;
    box-shadow: 0 5px 30px hsla(0, 0%, 0%, 0.6);
}

.user-instructions {
    display: flex;
    gap: 40px;
    margin-top: 10px;
}

.sub-instructions {
    text-align: center;
    color: hsl(43, 90%, 45%);
    font-weight: 100;
    font-family: roboto;
}

p {
    padding: 10px 15px;
    background-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 8px;
    border: 1.5px solid hsla(43, 96%, 37%, 0.915);
}

.header-container{
    display: flex;
    width: 100%;
    position: absolute;
    height: 100vh;
    max-width: 1920px;
    justify-content: flex-end;
}

header button {
    background-color: hsla(0, 0%, 0%, 0.5);
    color: hsl(43, 90%, 45%);
    border: 1.5px solid hsla(43, 96%, 37%, 0.915);
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    box-shadow: 0 5px 30px hsla(0, 0%, 0%, 0.6);
}

header button:hover {
    background-color: hsla(0, 0%, 0%, 0.3);
    color: hsla(37, 92%, 48%, 0.94);
    box-shadow: 0 5px 20px hsla(0, 0%, 65%, 0.256);
}

#rotate-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsl(0, 14%, 90%);
    align-items: center;
    justify-content: center;
    z-index: 3000;
    color: white;
    text-align: center;
}

.rotate-message {
    font-size: 20px;
    color: hsl(60, 2%, 19%);
}

#mobile-controls {
    display: none;
}

@media (max-width: 1040px) {
    #mobile-controls {
        display: block;
    }
}

@media screen and (orientation: portrait) and (max-width: 1040px) {

    header,
    .background,
    h1,
    #canvas,
    .user-instructions,
    #overlay {
        display: none;
    }

    #rotate-screen {
        display: flex;
    }
}