<div id="contact" class="contact">
  <div class="contact-header margin-top-110px">
    <img src="/assets/imgs/lines/contact-line.svg" />
    <h1>{{ translation.t("contact.title") }}</h1>
  </div>

  <div class="contact-content padding">
    <div class="contact-left-side">
      <h2>{{ translation.t("contact.h2") }}</h2>
      <p>{{ translation.t("contact.p1") }}</p>
      <p [innerHTML]="translation.t('contact.p2')"></p>
    </div>

    <form class="contact-form" (submit)="sendEmail($event)">
      <div
        class="input-wrapper"
        [class.error]="nameError"
        [class.valid]="!nameError && name.trim() !== ''"
      >
        <input
          name="from_name"
          placeholder="{{ translation.t('contact.form.name') }}"
          type="text"
          [(ngModel)]="name"
          (blur)="validateName()"
        />
      </div>
      <small *ngIf="nameError">
        {{ translation.t("contact.form.errors.name") }}
      </small>

      <div
        class="input-wrapper"
        [class.error]="emailError"
        [class.valid]="!emailError && email.trim() !== ''"
      >
        <input
          name="from_email"
          placeholder="{{ translation.t('contact.form.email') }}"
          type="email"
          [(ngModel)]="email"
          (blur)="validateEmail()"
        />
      </div>
      <small *ngIf="emailError">
        {{ translation.t("contact.form.errors.email") }}
      </small>

      <div
        class="input-wrapper textarea-wrapper"
        [class.error]="messageError"
        [class.valid]="!messageError && message.trim() !== ''"
      >
        <textarea
          name="message"
          placeholder="{{ translation.t('contact.form.message') }}"
          [(ngModel)]="message"
          (blur)="validateMessage()"
        ></textarea>
      </div>
      <small *ngIf="messageError">
        {{ translation.t("contact.form.errors.message") }}
      </small>

      <div class="checkbox">
        <div class="checkbox-input">
          <input
            type="checkbox"
            name="privacy"
            [(ngModel)]="checkbox"
            (change)="validateCheckbox()"
            [class.error]="checkboxError"
          />
          <span>
            <ng-container *ngIf="translation.currentLang$ | async as lang">
              <ng-container *ngIf="lang === 'DE'">
                {{
                  translation
                    .t("contact.form.privacy")
                    .split("Datenschutzrichtlinie")[0]
                }}
                <a
                  routerLink="/privacy-policy"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="privacy-link"
                >
                  Datenschutzrichtlinie
                </a>
                {{
                  translation
                    .t("contact.form.privacy")
                    .split("Datenschutzrichtlinie")[1]
                }}
              </ng-container>

              <ng-container *ngIf="lang === 'EN'">
                {{
                  translation
                    .t("contact.form.privacy")
                    .split("privacy policy")[0]
                }}
                <a
                  href="/Angular-Projects/portfolio/privacy-policy"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="privacy-link"
                >
                  privacy policy
                </a>
                {{
                  translation
                    .t("contact.form.privacy")
                    .split("privacy policy")[1]
                }}
              </ng-container>
            </ng-container>
          </span>
        </div>
        <small *ngIf="checkboxError">
          {{ translation.t("contact.form.errors.privacy") }}
        </small>
      </div>

      <button
        type="submit"
        [disabled]="isFormInvalid()"
        [class.disabled]="isFormInvalid()"
      >
        {{ translation.t("contact.form.button") }}
      </button>
      <p *ngIf="feedbackMessage" class="feedback-message">
        {{ feedbackMessage }}
      </p>
    </form>
  </div>

  <div class="go-up padding">
    <img
      (click)="scroll.scrollTo('hero')"
      src="assets/imgs/remaining-icons/go-up-button.svg"
      alt=""
    />
  </div>
</div>
