<div id="contact" class="contact">
    <div class="contact-header">
        <img src="/assets/imgs/lines/contact-line.svg">
        <h1>Contact</h1>
    </div>
    <div class="contact-content padding">
        <div class="contact-left-side">
            <h2>Got a problem to solve?</h2>
            <p>Encourage people to contact you and describe what role you are interested in. Show that you will add value to their projects through your work.</p>
            <p>Need a Frontend developer? <b>Contact me!</b></p>
        </div>
        <div></div>
    </div>
</div>
