.background-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
}

.shadow {
  position: absolute;
  opacity: 0.9;
  filter: blur(5px);
}

.shadow0 { top: 150px; left: 90px; width: 600px}
.shadow1 { top: 30%; right: -10px; width: 200px}
.shadow2 { top: 25%; left: -10px; width: 300px}
.shadow3 { top: 80%; left: -50px; width: 200px}
.shadow4 { top: 50%; right: -5px; width: 300px}
.shadow5 { bottom: 0; left: -10px; width: 300px}
