.portfolio {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .portfolio-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    h1 {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .long-line {
      align-self: center;
    }
  }

  .portfolio-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
