.portfolio {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .portfolio-header {
    width: 100%;
  }

  .portfolio-header-inner {
    display: flex;
    align-items: center;
    gap: 24px;

    margin-left: auto;
    width: fit-content;

    h1 {
      color: hsl(0, 0%, 100%);
      font-size: 70px;
      white-space: nowrap;
    }

    .line {
      height: 3px;
      background-color: hsl(266, 100%, 64%);
      border-radius: 10px;
    }

    .line.small {
      width: 100px;
      height: 4px;
      flex-shrink: 0;
    }

    .line.long {
      width: 80%;
      height: 4px;
      min-width: 600px;
    }
  }

  .portfolio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .shadow-3 {
    position: absolute;
    right: 0;
    width: 250px;
    margin-top: 450px;
    height: auto;
    z-index: 0;
  }
}

@media (max-width: 1200px) {
  .portfolio-header {
    .portfolio-header-inner {
      h1 {
        font-size: 50px;
      }

      .line.long {
        min-width: 400px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .portfolio-header {
    .portfolio-header-inner {
      .line.long {
        min-width: 300px;
      }

      .line.small {
        width: 80px;
      }
    }
  }
}

@media (max-width: 700px) {
  .portfolio-header {
    .portfolio-header-inner {
      gap: 10px;
      .line.long {
        min-width: 180px;
      }

      .line.small {
        width: 50px;
      }
    }
  }

  .portfolio-content {
    p {
      max-width: 390px;
      text-align: center;
    }
  }
}

@media (max-width: 500px) {
  .portfolio-header {
    .portfolio-header-inner {
      h1 {
        font-size: 40px;
      }

      .line.long {
        min-width: 150px;
      }

      .line.small {
        width: 40px;
      }
    }
  }

  .portfolio {
    .shadow-3 {
      width: 200px;
      margin-top: 600px;
    }
  }
}

@media (max-width: 420px) {
  .portfolio-header {
    .portfolio-header-inner {
      .line.long {
        min-width: 70px;
      }

      .line.small {
        width: 20px;
      }
    }
  }
}
