.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .portfolio-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    h1 {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .long-line {
      right: 0;
      position: absolute;
      align-self: center;
    }
  }

  p{
    margin-left: 170px;
  }
}
