<div id="portfolio" class="portfolio">
  <div class="portfolio-header margin-top-110px">
    <img class="small-line" src="assets/imgs/lines/portfolio-small-line.svg" />
    <h1>{{ translation.t('portfolio.title') }}</h1>
    <img class="long-line" src="assets/imgs/lines/portfolio-long-line.svg" />
  </div>

  <div class="portfolio-content">
    <p>{{ translation.t('portfolio.description') }}</p>

    <app-project-component
      *ngFor="let p of projects; let i = index"
      [project]="p"
      [reverse]="i % 2 === 1"
    >
    </app-project-component>
  </div>
  <img class="shadow-3" src="assets/imgs/shadows/green-shadow-2.svg" alt="">
</div>
