.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    
  .portfolio-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    right: 0;
    position: absolute;
  }
}
