<div class="app-background">
  <app-header></app-header>

  <main>
    <div class="background-layer">
      <img src="assets/imgs/shadows/photo-shadow.svg" class="shadow shadow0" />
      <img
        src="assets/imgs/shadows/purple-shadow-1.svg"
        class="shadow shadow1"
      />
      <img
        src="assets/imgs/shadows/green-shadow-1.svg"
        class="shadow shadow2"
      />
      <img
        src="assets/imgs/shadows/purple-shadow-3.svg"
        class="shadow shadow3"
      />
      <img
        src="assets/imgs/shadows/green-shadow-2.svg"
        class="shadow shadow4"
      />
      <img
        src="assets/imgs/shadows/purple-shadow-3.svg"
        class="shadow shadow5"
      />
    </div>
    <router-outlet></router-outlet>
  </main>

  <app-footer></app-footer>
</div>
