.legal-notice {
  position: relative;
  width: 100%;
}

.legal-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.legal-header-inner {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: -100px;

  margin-left: auto;
  width: fit-content;

  h1 {
    color: hsl(95, 80%, 51%);
    font-size: 70px;
    white-space: nowrap;
  }

  .line {
    height: 4px;
    background-color: hsl(266, 100%, 64%);
    border-radius: 10px;
  }

  .line.small {
    width: 100px;
    flex-shrink: 0;
  }

  .line.long {
    width: 80%;
    min-width: 450px;
  }
}

.legal-notice-container {
  background-color: hsl(220, 40%, 13%);
  max-width: 1920px;
  color: white;
  padding: 60px 120px;
  line-height: 1.6;
  max-width: 1920px;
  margin: auto;

  h2 {
    color: hsl(266, 100%, 64%);
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  h3 {
    color: hsl(266, 100%, 64%);
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 8px;
  }

  ul {
    margin-left: 20px;
  }

  .highlight {
    color: hsl(266, 100%, 64%);
  }

  .footer-text {
    margin-top: 50px;
    font-size: 16x;
    color: hsl(0, 0%, 85%);
  }

  .date {
    margin-top: 10px;
    font-size: 13px;
    color: hsl(0, 0%, 70%);
  }
}

@media (max-width: 1920px) {
  .legal-header-inner {
    h1 {
      font-size: 50px;
    }

    .line.long {
      min-width: 300px;
    }

    .line.small {
      width: 100px;
    }
  }
}

@media (max-width: 1000px) {
  .legal-header-inner {
    h1 {
      font-size: 30px;
    }

    .line.long {
      min-width: 250px;
    }

    .line.small {
      width: 50px;
    }
  }

  .legal-notice-container {
    padding: 40px 20px;
  }
}

@media (max-width: 700px) {
  .legal-header-inner {
    gap: 10px;

    .line.long {
      min-width: 150px;
    }

    .line.small {
      width: 30px;
    }
  }
}

@media (max-width: 500px) {
  .legal-header-inner {
    h1 {
      font-size: 24px;
    }

    .line.long {
      min-width: 100px;
    }

    .line.small {
      width: 20px;
    }
  }

  .privacy-policy-container {
    ul {
      margin-left: 0;
    }

    p,
    li,
    span {
      font-size: 16px;
    }
  }
}

@media (min-width: 3300px) {
  .legal-header-inner {
    .line.long {
      width: 80%;
      min-width: 1800px;
    }
  }
}