html,
body {
  font-family: "Poppins";
  height: 100%;
  margin: 0;
  padding: 0;
  color: hsl(0, 0%, 100%);
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Light";
  src: url("assets/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.app-background {
  background-color: hsl(220, 40%, 13%);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

main {
  flex: 1;
  padding-top: 80px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  background-color: hsl(95, 80%, 51%);
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 20px 40px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: hsl(266, 100%, 64%);
  }
}

.padding {
  padding: 37px 100px;
}

.highlight {
  color: hsl(266, 100%, 64%);
  font-weight: bold; 
}

.margin-top-110px{
  margin-top: 110px;
}
h1 {
  font-size: 70px;
  font-family: "Poppins-Bold";
}
