html,
body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: hsl(0, 0%, 100%);
  scroll-behavior: smooth;
  background-color: hsl(220, 40%, 13%);
  overflow-x: hidden;
}

html.no-scroll,
body.no-scroll {
  height: 100%;
  position: fixed;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.app-background {
  background-color: hsl(220, 40%, 13%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.limited-width {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

app-header,
main,
app-footer {
  width: 100%;
}

main {
  flex: 1;
  padding-top: 110px;
}

.container {
  width: 100%;
  padding: 0 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  background-color: hsl(95, 80%, 51%);
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 20px 40px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: hsl(266, 100%, 64%);
  }
}

.padding {
  padding: 37px 100px;
}

.highlight {
  color: hsl(266, 100%, 64%);
  font-weight: bold;
}

.margin-top-110px {
  margin-top: 110px;
}

h1 {
  font-size: 70px;
  font-family: "Poppins-Bold";
}

.link {
  color: hsl(195, 100%, 70%);

  &:hover {
    text-decoration: underline;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Light";
  src: url("assets/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 1000px){
  .padding{
    padding: 37px 20px;
  }
}

.shaky-button {
  display: inline-block;
  animation: subtle-shake 2s infinite ease-in-out;
}

@keyframes subtle-shake {
  0% { transform: translate(0, 0); }
  25% { transform: translate(-4px, 4px); }
  50% { transform: translate(4px, -4px); }
  75% { transform: translate(-4px, 4px); }
  100% { transform: translate(0, 0); }
}

.typing-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid hsl(95, 80%, 51%);
  font-size: 16px;
  animation: typing 10s steps(90, end) infinite;
}

@keyframes typing {
  0% { max-width: 0ch; border-color: hsl(95, 80%, 51%); }
  40% { max-width: 90ch; border-color: hsl(95, 80%, 51%); }
  50% { max-width: 90ch; border-color: transparent; }
  55% { border-color: hsl(95, 80%, 51%); }
  60% { max-width: 90ch; border-color: hsl(95, 80%, 51%); }
  100% { max-width: 0ch; border-color: hsl(95, 80%, 51%); }
}