html, body {
  font-family: 'Poppins-Light';
  height: 100%;
  margin: 0;
  padding: 0;
  color: hsl(0, 0%, 100%);
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('/assets/fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.app-background {
  background-color: hsl(220, 40%, 13%);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

main {
  flex: 1; 
}

a{
  text-decoration: none;
}