@media screen and (max-width: 2000px) and (orientation: landscape) and (pointer: coarse) and (hover: none) {
    .login-page {
        display: none !important;
    }

    .landscape-mode {
        display: flex !important;
    }
}



@media (max-width: 1040px) {
    .desktop-menu {
        display: none;
    }

    .header-title {
        display: none;
    }

    .logo-mobile {
        width: 48px;
        display: flex;
    }

    .header-left {
        margin-left: 0;
    }

    footer {
        display: flex !important;
    }

    .mobile-menu {
        background-color: hsla(215, 26%, 22%, 1);
        width: 100%;
        height: 80px;
        display: flex;
        position: fixed;
        bottom: 0;
        justify-content: space-around;
        align-items: center;
        z-index: 100;
    }

    .mobile-menu button {
        background-color: transparent;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 76px;
        width: 80px;
    }

    .mobile-menu button a.active {
        background-color: hsla(216, 69%, 11%, 1);
        border-radius: 16px;
        height: 76px;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .mobile-footer-content {
        background-color: hsla(215, 26%, 22%, 1);
        width: 100%;
        height: 80px;
        display: flex;
        position: fixed;
        bottom: 0;
        justify-content: space-around;
        align-items: center;
        z-index: 100;
    }

    .mobile-footer-content button {
        background-color: transparent;
        border: none;
    }

    .footer-right-buttons button {
        background-color: transparent;
        border: none;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 76px;
        width: 120px;
    }

    .footer-right-buttons button a.active {
        background-color: hsla(216, 69%, 11%, 1);
        border-radius: 16px;
        height: 76px;
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-right-buttons {
        display: flex;
        gap: 10px;
    }
}


@media (max-width: 500px) {
    .mobile-menu button {
        height: 60px;
        width: 70px;
    }

    .mobile-menu button p {
        font-size: 14px;
    }

    .mobile-menu button a.active {
        width: 70px;
    }

    .footer-right-buttons button {
        height: 60px;
        width: 100px;
    }

    .footer-right-buttons button a.active {
        width: 100px;
    }

    .my-contact-info-mobile-header-content {
        gap: 100px;
    }
}